body {
  background-image: url("bg.jpg");
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  font-size: 100%;
  font-family: "Montserrat", sans-serif;
}
.sticky-nav {
  position: fixed;
  z-index: 1;
  top: 0;
  width: 100%;
}

.main-nav {
  list-style: none;
  margin: 0;
  font-size: 0.7em;
  display: inline;
}

li {
  padding: 20px 30px;
  float: left;
}

a {
  text-decoration: none;
  font-size: 1.5em;
  color: white;
  letter-spacing: 0.1em;
}

.float-right {
  float: right;
}

.main-text  {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.main-text h1 {
  font-size: 3.5em;
  color: white;
  font-family: "Orbitron", sans-serif;
  letter-spacing: 0.2em;
  font-weight: 400;
}

.input-form {
  width: 175px;
  outline: none;
  margin-right: 20px;
  padding: 10px;
  font-family: "Montserrat", sans-serif;
  border-radius: 3px;
  /* Get rid of box shadow FX */
}

.btn {
  background-color: transparent;
  border: 2px solid white;
  color: white;
  cursor: pointer;
  outline: none;
  width: 100px;
  height: 40px;
  font-family: "Montserrat", sans-serif;
  border-radius: 3px;
}

.btn:hover {
  border: 2px solid #66b5ff;
  color: #66b5ff;
}
